/*******GENERAL STYLES*******/
* {
  font-family: "Helvetica Neue", sans-serif;
  color: $text-color;
  accent-color: $primary;
}
@supports (font-variation-settings: "wdth" 450) {
  * {
    font-family: "Inter", sans-serif;
  }
}

a {
  color: $text-color;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 64px;
  --banner-height: 0px;
  --footer-height: 110px;
  --vh100-offset-header: calc(var(--header-height));
  --vh100-offset: calc(
    var(--header-height) + var(--banner-height) + var(--footer-height)
  );
}
@media (min-width: 992px) {
  .container {
    --bs-gutter-x: 0.25rem !important;
  }
}

code {
  font-family: $font-family-monospace;
}

/*******SCROLL BAR*******/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(70, 70, 70) transparent;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70); /* color of the scroll thumb */
  border-radius: 0px; /* roundness of the scroll thumb */
  border: 0; /* creates padding around scroll thumb */
}
::-moz-selection {
  /* Code for Firefox */
  color: inherit;
  background: $primary;
}

::selection {
  color: inherit;
  background: $primary;
}

/*******GENERAL CLASSES*******/
.text-hover:hover {
  cursor: pointer;
}
.left-0 {
  left: 0;
}
.bg-light {
  background-color: $gray-200 !important;
}
.btn-primary,
.btn-primary:hover {
  color: $text-light;
  font-weight: 600;
  .bi {
    color: $text-light;
  }
}

/*******HEADER*******/
.app-nav-header {
  //height: var(--header-height);
  .container-header {
    width: 100%;
    z-index: 100;
  }
  .navbar-collapse {
    width: 100%;
  }
  .nav-item {
    padding: 1em;
    text-decoration: none;
  }
  .dropdown-toggle::after {
    margin-left: 0.5em;
  }
  .dropdown-menu[data-bs-popper] {
    //left: -50%;
    width: max-content;
  }
}

/*******LOGIN*******/
.app-login {
  height: calc(100vh - var(--vh100-offset));
  @media (max-width: 768px) {
    height: calc(100svh - var(--vh100-offset));
  }
  //font-size: calc(10px + 2vmin);
  color: $dark;

  .app-login-logo {
    height: 50px;
  }
  form {
    text-align: left;
  }
}

/*******HOME*******/
.app-home {
  .carousel {
    img {
      height: calc(100vh - var(--vh100-offset-header));
      @media (max-width: 768px) {
        height: calc(100svh - var(--vh100-offset-header));
      }
      overflow: hidden;
      object-fit: cover;
    }
    .title {
      font-size: 2em;
      font-weight: 700;
    }
    .description {
      font-size: larger;
      font-weight: 500;
    }
  }
  .bg-soft {
    background-color: rgb(219, 219, 219);
  }
  .spacer-path {
    fill: $body-bg;
  }
  .app-home-section1 {
    //padding: 3rem;
    .keyboard-container {
      padding: 2em;
      @media (max-width: 992px) {
        .grid-daltonismo {
          padding: 3em;
        }
      }
    }
    .bolder {
      font-weight: 700;
    }
    .highlighted {
      color: #3399cc;
      font-weight: 350;
    }
  }
  .app-home-section2 {
    margin-bottom: 2em;
    /*img {
      //max-height: 500px;
      //object-fit: contain;
    }*/
  }
  .app-home-section3 {
    margin-bottom: 2em;
    .grid-daltonismo {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @media (min-width: 992px) {
      .grid-daltonismo {
        padding: 4em;
      }
    }
  }
}

/*******NORMAS ACCESIBILIDAD*******/
.app-normas-accesibilidad {
  .main-image {
    position: relative;
    h1 {
      position: absolute;
      top: 35%;
      left: 15%;
      text-align: center;
      font-family: "Inter";
      font-weight: 900;
      font-size: 3em;
      @media (max-width: 992px) {
        left: 12%;
        font-size: 2.5em;
      }
      @media (max-width: 768px) {
        top: 30%;
      }
      @media (max-width: 576px) {
        top: 35%;
        font-size: 1.5em;
      }
    }
    img {
      //padding-left: 20%;
    }
  }
  .main-container {
    padding: 0 8em;

    .section-1 {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 10%;
      padding: 50px 0;

      .bg {
        background: linear-gradient(
          90deg,
          transparent 24.19%,
          #1d9bf024 70.44%
        );
        border-radius: 0 50px 50px 0;
        height: 100%;
        margin-right: -150px;
        mix-blend-mode: normal;
        opacity: 0.83;
        position: absolute;
        width: 100%;
        //margin-top: -5%;
        z-index: -1;
      }
      .col-sello {
        padding: 3em;
      }
      .col-info {
        padding-left: 2em;
        padding-right: 2em;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      h2 {
        font-weight: 700;
        font-size: 2.5em;
        margin-bottom: 0.5em;
      }
      @media (max-width: 1200px) {
        .col-sello {
          padding: 2em;
        }
        .col-info {
          padding-left: 0em;
          padding-right: 0em;
        }
      }
      @media (max-width: 576px) {
        h2 {
          font-weight: 650;
          font-size: 2em;
        }
        .col-sello {
          padding: 1em;
        }
      }
    }
    .section-2 {
      h2 {
        font-weight: 700;
        font-size: 2.5em;
        @media (max-width: 576px) {
          font-weight: 650;
          font-size: 2em;
          text-align: center;
        }
      }
      .container-tabs {
        margin-top: 20px;
        position: relative;
        padding: 0;
        .prev {
          left: -10%;
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10%;
          padding: 0;
          color: #fff;
          text-align: center;
          background: none;
          border: 0;
          opacity: 0.5;
          transition: opacity 0.15s ease;
          .bi {
            font-size: 1.5em;
          }
        }
        .next {
          right: -10%;
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10%;
          padding: 0;
          color: #fff;
          text-align: center;
          background: none;
          border: 0;
          opacity: 0.5;
          transition: opacity 0.15s ease;
          .bi {
            font-size: 1.5em;
          }
        }
      }
      .tablist,
      .tab-content {
        //background-color: rgb(240, 241, 246);
      }
      .tablist {
        margin-top: 20px;
        border: 1px solid $primary-light;
        border-radius: 20px;
        //background-color: $primary-light;
        width: 80%;
        margin: auto;
        @media (max-width: 992px) {
          width: 100%;
        }
        .nav-item {
          width: 25%;

          button {
            height: 100%;
            border: 0 !important;
          }
          button:focus,
          button:hover,
          button:focus-visible,
          button:active {
            border: 0 !important;
            outline: -webkit-focus-ring-color auto 0px;
          }

          .active {
            border-radius: 20px;
            background-color: $primary;
            -webkit-transition: background-color 0.5s linear;
            -ms-transition: background-color 0.5s linear;
            transition: background-color 0.5s linear;
          }
        }
        @media (max-width: 576px) {
          border-radius: 10px;
          .nav-item .active {
            border-radius: 10px;
          }
        }
        button {
          padding: 5px 0;
          margin: auto;
          width: 100%;
          color: $text-color;
          font-weight: 500;
          font-size: 1em;
          @media (max-width: 576px) {
            font-weight: 500;
            font-size: 0.9em;
          }
        }
        button.active {
          font-weight: 650;
        }
      }
      .tab-content {
        padding: 0;

        section {
          padding: 2em 0;
          h3 {
            font-weight: 700;
            font-size: 1.5em;
          }
        }
        @media (max-width: 576px) {
          section {
            padding: 1em 0;
          }
        }
      }
    }
    @media (max-width: 1400px) {
      padding: 0 6em;
    }
    @media (max-width: 1200px) {
      padding: 0 4em;
      .section-1 .bg {
        margin-right: -120px;
      }
    }
    @media (max-width: 992px) {
      padding: 0 3em;
      .section-1 .bg {
        margin-right: -100px;
      }
      .section-2 .container-tabs .prev,
      .section-2 .container-tabs .next {
        display: none;
      }
    }
    @media (max-width: 576px) {
      padding: 0 2em;
      .section-1 .bg {
        margin-right: -20px;
      }
    }
  }
}

/*******OLD REACT*******/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anillo {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes ojo {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/*
@-webkit-keyframes anillo {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
*/

#centro {
  position: absolute;
  left: 10px;
  top: 10px;
}

#anillo {
  position: absolute;
  left: 10px;
  top: 10px;
  transform-origin: 258px 258px;
  animation-name: anillo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*
  -webkit-transform-origin: 258px 258px;
  -webkit-animation-name: anillo;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;*/
}

#ojo {
  position: absolute;
  left: 10px;
  top: 10px;

  transform-origin: 258px 258px;
  animation-name: ojo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#oido {
  position: absolute;
  left: 10px;
  top: 10px;

  transform-origin: 258px 258px;
  animation-name: ojo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#mano {
  position: absolute;
  left: 10px;
  top: 10px;

  transform-origin: 258px 258px;
  animation-name: ojo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#cerebro {
  position: absolute;
  left: 10px;
  top: 10px;

  transform-origin: 258px 258px;
  animation-name: ojo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
