// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-bg: rgb(240, 240, 240);
$text-color: rgb(20, 20, 20);

$primary: #177abd;
$primary-light: #66baf2;
$primary-dark: #177abd; //#0d4970;

$secondary: #de0dd8;
$success: #005e14;
$success-light: #5aaf49;
$info: #f6d0b1;
$warning: #f7b05b;
$dark: #272727;
$light: #ffffff;
$danger: #a4001d;
$black: #000;

$text-light: #f2f2f2;
$text-dark: $text-color;

$bg-nav: #e9ecef !default; //$gray-200

$link-color: $text-color;
$link-hover-color: $primary-dark;

$table-hover-bg-factor: 0.2 !default;
$table-hover-bg: rgba($black, $table-hover-bg-factor) !default;

@font-face {
  font-family: "Inter";
  src: url("Inter-VariableFont_slnt_wght.ttf") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

$font-family-sans-serif: "Inter", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
/*
$headings-color:              null !default;
$headings-font-family:        null !default;
$input-btn-font-family


$input-bg
$form-label-color
*/
